* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0e1928;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

button,
input {
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  background-color: #0c1a2d;
  box-shadow: inset 0px 4px 0px #192d48;
  border: 2px solid #182d49;
  text-align: center;

  padding: 14px 0;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-bottom: 6px;
}

header p {
  color: #377df6;
  font-size: 14px;
}

main {
  max-width: 768px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

.data-set-action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2rem 0;
}

.data-set-action button {
  background-color: #091e3a;
  outline: none;
  border: 1px solid #355d93;
  border-radius: 50%;
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.data-set-action button:hover {
  background-color: #07182e;
}

.data-set-action p {
  background: #192e4a;
  border: 1px solid #355d93;
  border-radius: 12px;
  padding: 1rem 2rem;
  margin: 0 1rem;
  width: 100%;
  text-align: center;
  word-spacing: 10px;
  line-height: 32px;
  font-weight: 500;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  gap: 1rem;
}

form input {
  background: #091e3a;
  border: 2px solid #355d93;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 16px;
  outline: none;
  color: #fff;
  letter-spacing: 2px;
  flex-grow: 1;
}

form input::placeholder {
  font-size: 14px;
  color: #acb4bd;
  letter-spacing: normal;
}

form button {
  background: #377df6;
  border-radius: 6px;
  padding: 1rem 20px;
  border: none;
  outline: none;
  color: #fff;
  width: fit-content;
  font-weight: 500;
  cursor: pointer;
  transition: transform ease-in-out 200ms;
}

form button:hover {
  transform: translateY(-3px);
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #081e3a;
  border: 1px solid #294873;
  border-radius: 16px;
  width: 100%;
  height: 200px;
  transition: all ease-in-out 200ms;
}

.data-item:hover {
  background-color: #07182e;
  transform: scale(1.05);
}

.data-item h2 {
  color: #377df6;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.data-item p {
  letter-spacing: 2px;
}
